*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #548687;
    text-align: center;
}
main {
    display: flex; /* Flex container banaye */
    flex-direction: column; /* Column direction mein arrange karein */
    align-items: center; /* Center align karein */
}

.container{
    height: 70vh;
    /* width: 70vh; */
    display: flex;
   
    justify-content: center;
    align-items: center;
   
}

.game{
    height:60vmin ;
    width: 60vmax;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box{
    height: 18vmax;
    width: 18vmax;
    border-radius: 1rem;
    border: nane;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    font-size: 8vmin;
    color: #b0413e;
    background-color: rgb(254, 254, 15);

}


#resetbtn {
    margin-top: 20px; /* Button ke upar space dene ke liye */
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}
 #new-btn{
    padding: 1rem;
    font-size: 1.5rem;
    background-color: #191913;
    color: white;
    border-radius: 1rem;
    border: none;
}

#msg{
    color: #ffffc7;
     font-size: 5vmin;
}

.msg-container{
    height: 30vmin;
}
.hide{
    display: none;
}